/* style file  */

/* for the star rating app */
.container1{
    background-color: yellowgreen;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.starrack{
    /* display: flex;    */
}
.active{
    color: yellow;
}
.inactive{
    color: rgb(206, 128, 25);
}